---
  import Form from "@components/ui/Forms/Form.astro";
  import FormInput from "@components/ui/Forms/FormInput.astro";
  import FormSelect from "@components/ui/Forms/FormSelect.astro";
  import SelectOption from "@components/ui/Forms/SelectOption.astro";
  import { turso } from "src/turso";



  interface Props {
    selectedBankAccount?: any;
  }

  const { selectedBankAccount } = Astro.props;



  // Generar un número aleatorio para el bankAccountID
  const generateRandomBankAccountID = () => {
    return Math.floor(Math.random() * 1000000); // Genera un valor aleatorio entre 0 y 999999
  }

  const randomBankAccountID = generateRandomBankAccountID();
  const bankAccountID = selectedBankAccount?.bankAccountID || randomBankAccountID;
  ---

  <Form title="Bank Account Details">
    <FormInput 
    name="bankAccountID" 
    type="number" 
    value={bankAccountID} 
    placeholder="Bank Account ID" isDisabled
    isRequired 
    isDisabled={!!selectedBankAccount}
  >
    Bank Account ID
  </FormInput>

    <FormInput 
      name="bankID" 
      type="number" 
      value={selectedBankAccount?.bankID || ''} 
      placeholder="Bank ID" isRequired
    >Bank ID</FormInput>

    <FormInput 
      name="entityID" 
      type="number" 
      value={selectedBankAccount?.entityID || ''} 
      placeholder="Entity ID" isRequired
    >Entity ID</FormInput>

    <FormSelect name="entityType" isRequired title="Entity Type">
      <SelectOption value="">-- Select Entity Type --</SelectOption>
      <SelectOption value="customer" isSelected={selectedBankAccount?.entityType === 'customer'}>Customer</SelectOption>
      <SelectOption value="supplier" isSelected={selectedBankAccount?.entityType === 'supplier'}>Supplier</SelectOption>
      <SelectOption value="employee" isSelected={selectedBankAccount?.entityType === 'employee'}>Employee</SelectOption>
    </FormSelect>

    <FormInput 
      name="currencyID" 
      type="number" 
        value={selectedBankAccount?.currencyID || ''} 
        placeholder="Currency ID" isRequired
      >Currency ID</FormInput>

    <FormInput 
      name="accountTypeID"  
      type="number" 
      value={selectedBankAccount?.accountTypeID || ''} 
      placeholder="Account Type ID" isRequired
    >Account Type ID</FormInput>

    <FormInput 
      name="statusID"  
      type="number" 
      value={selectedBankAccount?.statusID || ''} 
      placeholder="Status ID" isRequired
    >Status ID</FormInput>

    <FormInput 
      name="bicCode" 
      type="text" 
      value={selectedBankAccount?.bicCode || ''} 
      placeholder="BIC Code" isRequired
    >BIC Code</FormInput>

    <FormInput 
      name="customerID" 
      type="number" 
      value={selectedBankAccount?.customerID || ''} 
      placeholder="Customer ID" isRequired
    >Customer ID</FormInput>

    <slot />
  </Form>


